<mat-horizontal-stepper linear="true" [selectedIndex]="selectedStepIndex" (selectionChange)="selectionChanged($event)">
  @for (step of steps; track step.path; let i = $index) {
    <mat-step [label]="step.label" [hasError]="i === 0 && (isStep1Valid$ | async) === false">
      @if (i === selectedStepIndex) {
        <router-outlet></router-outlet>
      }
    </mat-step>
  }
</mat-horizontal-stepper>
<div class="cancel-container" style="margin-top: 16px">
  <button mat-stroked-button color="warn" (click)="cancelAndGoBack()">Anuluj i wróć</button>
</div>
