<form [formGroup]="form">
  <mat-form-field class="example-chip-list">
    <mat-label>Interests</mat-label>
    <mat-chip-grid #chipGrid aria-label="Enter interests">
      @for (interestCtrl of interests.controls; track interestCtrl; let i = $index) {
        <mat-chip-row (removed)="remove(interestCtrl.value)">
          {{ interestCtrl.value }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      }
      <input
        placeholder="New interest..."
        [matChipInputFor]="chipGrid"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)" />
    </mat-chip-grid>
  </mat-form-field>
  <div>
    <button mat-button matStepperPrevious (click)="prev()">Back</button>
    <button mat-button matStepperNext (click)="next()">Next</button>
  </div>
</form>
